.audioModule {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 6px;
	/*width: 504px;*/
}

h1 {
	font-family: sans-serif;
	font-size: 1.5em;
	float: left;
	margin: 0;
}

.controls {
	float: right;
/*	border: 1px solid #ccc;
	border-radius: 3px;*/
	padding: 2px;
}
button {
	min-width: 60px;
}
#tempo {
	width: 60px;
}
#patternSelect {
	min-width: 90px;
}


.patternGrid {
	clear: both;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 6px;
}
table {
	border-collapse: collapse;
	font-family: sans-serif;
	font-size: 0.9em;
}
tr:nth-child(1) {
	background-color: #666;
	color: #efefef;
}
tr:nth-child(1n+2) {
	line-height: 0.8;
}
tr:nth-child(2n+3) {
	background-color: #f3f3f3;
}
td {
	padding: 4px;
}
td:nth-child(1) {
	min-width: 100px;
}
td:nth-child(1n+2) {
	/*min-width: 20px;*/
	text-align: center;
}

.activeStep {
	background-color: #fff;
    box-shadow: inset 0px 0px 21px #ff0000;
    color: #7d0404;
}

.patternGrid label {
	display: inline;
}

.patternGrid input[type="checkbox"] {
	display: none;
}

.patternGrid input[type="checkbox"] + label {
	width: 20px;
	height: 20px;
	background-color: #e6e6e6;
	border: 1px solid #d0d0d0;
    border-radius: 1000px;
    display: inline-block;
    position: relative;
	cursor: pointer;
    font-size: 1em;
}

.patternGrid input[type="checkbox"]:checked + label:before {
    content: ' ';
    display: block;
    border-radius: 100px;
    position: absolute;

    background: #f5f5f5;
    box-shadow: inset 0px 0px 19px #1f1d1d;

    width: 20px;
    height: 20px;

}
.patternGrid input[type="checkbox"]:checked + label.hit:before {
	background: #ffffff;
    box-shadow: inset 0px 0px 15px #f50202;

}


